  :host {
    --content-padding: 10px;
  }
  header {
    display: block;
    height: 60px;
    padding: var(--content-padding);
    box-shadow: 0px 5px 25px var(--shadow-color);
  }
  .content {
  }


  .hero {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  margin: 0 auto;
}

.hero img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.25);

  display: flex;
  justify-content: center;
  align-items: center;
}

/* Logo sopra l'immagine */
.logo {
  width: 80px;      /* dimensione piccola */
  height: auto;
  opacity: 0.95;    /* leggero effetto elegante */
}
